@{
    Layout="";
}

<style> 
body{
    background: lightgray;
}

.Login-box{
    background: white;
    width: 400px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: solid;    
}
.Login-box h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 5px solid black; 
    padding-bottom: 10px;
}

.Text-box{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin-left: 90px;
    border: 1px;
}
.Text-box input{
    outline: none;
    background: none;
    font-size: 20px;
    border: 2px 2px solid lightgreen;
}
.btn{
    width: 50%;
    text-align: center;
    font-size: 18px;
    margin-left: 8px;
}


</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center> 
                <h3> 
                    <img src="~/images/asc_logo.png" width="100px" height="40px"/> ASC TASK PLANNING 
                    <br/>
                    <br/>
                    HỆ THỐNG QUẢN LÝ CÔNG VIỆC 
                </h3>
            </center>
        </div>
    </div>
       
    <div class="Login-box"> 
        <h1> Login </h1>
        <form action="CheckUserACLNguoiDung" method="POST">
            <div class="Text-box"> 
                <span> Tên Đăng Nhập </span>
                <br/>
                <input type="text"  value="" name="username" >
            </div>

            <div class="Text-box">
                <br />
                <span> Mật Khẩu </span>
                <br />
                <input type="password" value="" name="password">
                <br />
                <br />
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-warning" role="alert">
                        @TempData["message"]
                    </div>
                }
                <br/>
                <input type="submit" class="btn" value="Sign in">
            </div>      
        </form>            
    </div>
    
</div>
